.HomePage {
  padding: 50px;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logoImg {
  width: 400px;
}

.aboutWeb {
  padding: 20px;
  font-size: 35px;
  text-align: center;
}
