@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  direction: rtl;
  box-sizing: border-box;
  text-align: right;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
