.containerSignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background: linear-gradient(to top,
            var(--columbia-blue) 70%,
            var(--indigo-dye) 100%);
}

.signUpTitle {
    font-size: 3rem;
    font-weight: bold;
    color: var(--columbia-blue);
    margin-bottom: 30px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signUpInput {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f3f3f3;
    color: #333;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

.signUpInput:focus {
    border-color: var(--indigo-dye);
    box-shadow: 0 0 20px 5px rgba(182, 204, 226, 0.8);
}



.signUpButton {
    padding: 15px 20px;
    background-color: var(--indigo-dye);
    color: var(--columbia-blue);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: black;
    color: white;
    background-color: black;
}


.signUpButton:hover {
    background-color: #e7970b;
    background: #e7970b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signUpHr {
    width: 80%;
    border: 1px solid #ddd;
    margin: 10px 0;
}

.signUpParagraph {
    color: #666;
    font-size: 1rem;
    margin-top: 20px;
}

.signUpLink {
    color: var(--indigo-dye);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signUpLink:hover {
    color: black;
}

.failedText {
    text-align: center;
    font-size: 20px;
}