.searchProfession {
  max-width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.searchInput input {
  width: 60%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.searchInput input:focus {
  border-color: #4caf50;
  outline: none;
}

.filters {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.filter {
  flex: 1;
  min-width: 200px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

select:focus,
input[type="number"]:focus {
  border-color: #4caf50;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-size: 12px;
}

.searchInput input:focus,
select:focus,
input[type="number"]:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

@media (max-width: 768px) {
  .searchProfession {
    padding: 10px;
  }

  .searchInput input {
    width: 80%;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    min-width: 100%;
    margin-bottom: 10px;
  }

  .filter label {
    margin: 0;
  }

  select,
  input[type="number"] {
    font-size: 14px;
  }

  .select {
    margin-top: 00;
    padding-top: 0;
  }
}

.filterButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 60px;
}

.filterButton:hover {
  background-color: #45a049;
}

.searchInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.liSearch {
  width: 100%;
  cursor: pointer;
}

.ulSearch {
  position: absolute;
  gap: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.multiSelect {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.multiSelect option:checked {
  background-color: #00bcd4;
  color: white;
}

.multiSelect option {
  padding: 8px;
}

.weeklyHours input {
  width: 100px;
  margin-left: 5px;
}

.weeklyHours {
  gap: 10px;
}

.containerSearchInputFilters {
  display: none;
  transition: display 0.5s ease;
}

.containerSearchInputFilters.open {
  display: block;
}

.filterButton {
  background-color: #ff7f50;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.filterButton:hover {
  background-color: #ff4500;
}

.profileBtnFilter {
  color: white;
  background-color: black;
  background: black;
  font-size: 14px;
}
.profileBtnFilter:hover {
  color: white;
  background-color: black;
  background: black;
}
