.forumContainer {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
    color: #333;
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forumHeader {
    text-align: center;
    font-size: 2.5rem;
    color: #FF6F61;
    margin-bottom: 50px;
    font-weight: 700;
}

.forumCard {
    cursor: pointer;
    background-color: #FFF;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 700px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forumCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.forumCard h2 {
    font-size: 2rem;
    color: #FF6F61;
    margin-bottom: 20px;
    font-weight: 600;
}

.postCard {
    background-color: #F9F9F9;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.postCard:hover {
    transform: translateY(-3px);
}

.postCard h4 {
    font-size: 1.6rem;
    color: #FF7043;
    margin-bottom: 15px;
    font-weight: 500;
}

.postContent {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.commentSection {
    margin-left: 20px;
}

.comment {
    background-color: #FAFAFA;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.commentHeader {
    color: #FF7043;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.05rem;
}

.commentContent {
    color: #777;
    font-size: 1.05rem;
}


.userBadge {
    color: #FF7043;
    font-weight: 600;
}

.button {
    background-color: #FF6F61;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #FF3D2D;
}