/* Main Navbar */
.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  height: 100px;
  direction: ltr;
}

.navbarLeft {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-bottom: 0px;
  gap: 25px;
}

.navbarRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;

  height: 50px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 110%;
  transform: scale(2.7);
  object-fit: cover;
}

.logoLink {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid;
  border-color: black;
}

.chatBubble {
  filter: brightness(0) invert(1);
  width: 50px;
  height: 50px;
}

.navbarBurger {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  /* Initially hidden */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: right 0.3s ease;
  /* Smooth slide effect */
}

.sidebarOpen {
  right: 0;
  /* Slide in */
}

.sidebarLink {
  text-decoration: none;
  color: white;
  margin-bottom: 0.8rem;
  transition: color 0.3s ease;
}

.sidebarLink:hover {
  color: #f4a261;
}

.closeButton {
  margin-bottom: 1rem;
  font-size: 1.5;
  cursor: pointer;
}
